.chat-view {
    padding: 4rem;
    max-height: 90vh;
    width: 100%;
    font-size: 1.6rem;
    font-family: var(--font-family);
}

.chat-message {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 3rem 2rem;
    border: 1px solid var(--color-border); 
    width: 70%; 
    border-top-left-radius: 0;
}

.chat-bot-header {
    display: flex;
    flex-direction: column;
}

.horizontal-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-border);
    margin: 2rem 0;
}

.chat-message-form-container {
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
}

.chat-messages-container {
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    align-items: flex-start;
    padding: 2rem;
}
.this-message {
    background-color: #F3F5F6;
    align-self: flex-end;
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
}

.chat-input-form {
    width: 100%;
    
}


.chat-input-container {
    display: flex;
    gap: 2rem;
}
.chat-input-container > input {
    width: 100%;
    padding: 1.6rem 1rem;
    border-radius: 1rem;
    border: 1px solid var(--color-border);
    font-size: 1.6rem;
    font-family: var(--font-family);
}

.chat-input-container > button {
   background-color: var(--color-primary);
   color: white;
   border: none;
   padding: 1rem 4rem;   
   border-radius: 1rem;
}
.chat-input-container-start-button {
    width: 100%;
    padding: 2rem 0 !important;
    font-size: 2rem;;
}

