.search-container-hero {
    background-color: var(--color-gradient-two);
    position: relative;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);

}

.search-container-hero-pattern2 {
    position: absolute;
    right: 0;
    z-index: 0;
}

.search-container-hero-pattern3 {
    position: absolute;
    left: 0;
    z-index: 0;
}

.search-container-hero-businessMan {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    z-index: 0;
}

.search-container-hero-title {
    font-size: 5rem;
    word-spacing: -1rem;
    position:relative;
    z-index: 1;
}

.search-container-hero-underline2 {
    position: absolute;
    bottom: 55%;
    left: 50%;
    z-index: 1;
}

.search-container-hero-title-span {
    color: var(--color-primary);
    font-weight: var(--font-weight-bold);
    font-size: 5.5rem;
    margin-left: 1rem;
}

.search-container-hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.search-container-hero-content-text {
    font-size: 2.4rem;
    position: relative;
    z-index: 1;
}

.search-container-hero-content-searchBar {
    width: 100%;
    position: relative;
    z-index: 1;
}


