.line-separator {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--color-secondary);
}

.text {
    position: absolute;
    background-color: white;
    padding: 0 1rem;
    font-size: 1.6rem;
    font-family: var(--font-family);
}